[submodule "services/CloudNativeTemplateCommons"]
	path = services/CloudNativeTemplateCommons
	url = git@github.com:xcodeassociated/CloudNativeTemplateCommons.git
[submodule "services/CloudNativeTemplateService"]
	path = services/CloudNativeTemplateService
	url = git@github.com:xcodeassociated/CloudNativeTemplateService.git
[submodule "services/CloudNativeTemplateServiceMongo"]
	path = services/CloudNativeTemplateServiceMongo
	url = git@github.com:xcodeassociated/CloudNativeTemplateServiceMongo.git
[submodule "services/CloudNativeServiceDiscovery"]
	path = services/CloudNativeServiceDiscovery
	url = git@github.com:xcodeassociated/CloudNativeServiceDiscovery.git
[submodule "services/CloudNativeEventLocatorWeb"]
	path = services/CloudNativeEventLocatorWeb
	url = git@github.com:xcodeassociated/CloudNativeEventLocatorWeb.git
[submodule "services/CloudNativeTemplateEvents"]
	path = services/CloudNativeTemplateEvents
	url = git@github.com:xcodeassociated/CloudNativeTemplateEvents.git
[submodule "services/CloudNativeKeycloak"]
	path = services/CloudNativeKeycloak
	url = git@github.com:xcodeassociated/CloudNativeKeycloak.git
[submodule "services/user_service"]
	path = services/user_service
	url = git@github.com:xcodeassociated/SpochiUserService.git
[submodule "services/event_service"]
	path = services/event_service
	url = git@github.com:xcodeassociated/SpochiEventService.git
[submodule "services/commons"]
	path = services/commons
	url = git@github.com:xcodeassociated/SpochiCommons.git
[submodule "services/events"]
	path = services/events
	url = git@github.com:xcodeassociated/SpochiEvents.git
[submodule "services/discovery_service"]
	path = services/discovery_service
	url = git@github.com:xcodeassociated/SpochiDiscoveryService.git
[submodule "services/web_service"]
	path = services/web_service
	url = git@github.com:xcodeassociated/SpochiWebService.git
